# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos de Variáveis de Ambiente (CRÍTICO)
.env
.env.local
.env.*

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Pastas de IDEs e Editores (Opcional, mas recomendado)
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db